.main_container {
  background: #43B0F1;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.header {
  background: #057DCD;
  display: flex;
  align-items: center;
}
.header img {
  height: 20vw;
}
.header_text {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #E8EEF1;
  font-size: 8vw;
  text-shadow: 2px 2px grey;
  text-decoration: underline;
  text-align: center;
}
.subtitle {
  color: #E8EEF1;
  font-size: 4vw;
}
.maintext {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link_bar {
  background: #057DCD;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.link {
  text-align: center;
  color: #E8EEF1;
}
.link:hover {
  background: #E8EEF1;
  color: #057DCD;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.main {
  width: 98%;
  display: flex;
}
.article_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #057DCD;
}
.article {
  margin: 10px;
  color: #E8EEF1;
  text-shadow: 2px 2px rgb(0,0,0,.4);
  display: flex;
  flex-direction: column;
}
.article_title {
  text-decoration: underline;
  margin-bottom: 5px;
}
.article_subtitle {
  margin-bottom: 5px;
}
.article_body {
  margin: 5px;
}
.hours_header {
  width: 60%;
  font-size: 2vw;
  margin: 5px;
  background: #43B0F1;
  color: #E8EEF1;
  text-align: center;
}
iframe {
  width: 98%;
  height: 30vw;
}
.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_container img {
  width: 50%;
}
.lede {
  /* width: 100%; */
  background: #057DCD;
  color: #E8EEF1;
  text-align: center;
}
.footer {
  /* width: 98%; */
  margin-top: 30px;
  background: #057DCD;
  display: flex;
}
.footer .link {
  background: #E8EEF1;
  color: #057DCD;
  text-align: center;
  padding: 2px;
  margin-bottom: 5px;
}
.footer .link:hover {
  background: #057DCD;
  color: #E8EEF1;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.bottomtext {
  color: #E8EEF1;
  text-align: center;
}
.meet_hours img {
  width: 23vw;
}
a {
  color: #E8EEF1;
}

/* /////////////////////////////////////////////// */

@media (min-width: 260px) {
  .main_container {
    width: 100vw;
  }
  .header {
    width: 90%;
  }
  .title {
    font-size: 8vw;
  }
  .subtitle {
    font-size: 4vw;
  }
  .link_bar {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 5vw;
    width: 50%;
    text-decoration: underline;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .article_container {
    width: 90%;
  }
  .article {
    width: 60%;
  }
  .article_title {
    font-size: 6vw;
  }
  .article_subtitle {
    font-size: 4.5vw;
    margin-bottom: 10px;
  }
  .article_body {
    font-size: 4vw;
    margin: 5px;
  }
  .hours_header {
    width: 90%;
    font-size: 6vw;
  }
  .sidebar_container {
    width: 98%;
    margin-top: 30px;
  }
  .lede {
    width: 92%;
    font-size: 5vw;
  }
  .footer {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .footer .link {
    width: 80vw;
    font-size: 6vw;
    text-decoration: underline;
  }
  .bottomtext {
    width: 80vw;
    font-size: 4vw;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .main_container {
    width: 90vw;
  }
  .header {
    width: 98%;
  }
  .link_bar {
    width: 98%;
    flex-direction: row;
  }
  .link {
    font-size: 2.2vw;
    width: 25%;
    text-decoration: none;
  }
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .article_container {
    width: 72%;
  }
  .article_title {
    font-size: 3vw;
  }
  .article_subtitle {
    font-size: 2vw;
  }
  .article_body {
    font-size: 1.5vw;
  }
  .hours_header {
    width: 60%;
    font-size: 2vw;
  }
  .sidebar_container {
    width: 25%;
    margin-top: 0;
  }
  .lede {
    width: 100%;
    font-size: 2vw;
  }
  .footer {
    width: 98%;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer .link {
    width: 20vw;
    font-size: 2.2vw;
    text-decoration: none;
  }
  .bottomtext {
    width: 20vw;
    font-size: 1.5vw;
    margin-bottom: 0;
  }
}
