.main_container {
  background: #43B0F1;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.header {
  background: #057DCD;
  display: flex;
  align-items: center;
  
}
.header img {
  height: 20vw;
}
.header_text {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #E8EEF1;
  font-size: 8vw;
  text-shadow: 2px 2px grey;
  text-decoration: underline;
  text-align: center;
  font-family: 'Bona Nova', serif;
}
.subtitle {
  color: #E8EEF1;
  font-size: 4vw;
  font-family: 'Bona Nova', serif;
}
.maintext {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link_bar {
  background: #057DCD;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.link {
  text-align: center;
  color: #E8EEF1;
  font-family: 'Roboto Slab', serif;
}
.link:hover {
  background: #E8EEF1;
  color: #057DCD;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.main {
  width: 98%;
  display: flex;
}
.article_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #057DCD;
}
.article {
  margin: 10px;
  /* color: #E8EEF1; */
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
}
.article_title {
  /* text-decoration: underline; */
  margin-bottom: 5px;
  font-family: "Arial";
  font-style: bold;
  text-shadow: 2px 2px rgb(0,0,0,.4);
}
.article_subtitle {
  margin-bottom: 5px;
  font-family: "Arial";
}
.article_body {
  margin: 5px;
  font-family: "Arial";
}
.hours_header {
  width: 60%;
  font-size: 2vw;
  margin: 5px;
  background: #43B0F1;
  color: #E8EEF1;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px rgb(0,0,0,.4);
}
.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_container img {
  width: 50%;
}
.lede {
  background: #057DCD;
  color: #E8EEF1;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.footer {
  margin-top: 30px;
  background: #057DCD;
  display: flex;
}
.footer .link {
  /* background: #E8EEF1; */
  background: #057DCD;
  /* color: #057DCD; */
  color: #E8EEF1;
  border: 2px solid #E8EEF1;
  text-align: center;
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.footer .link:hover {
  /* background: #057DCD; */
  background: #E8EEF1;
  /* color: #E8EEF1; */
  color: #057DCD;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.bottomtext {
  color: #E8EEF1;
  text-align: center;
  font-family: "Arial";
}
a {
  color: #E8EEF1;
}

/* /////////////////////////////////////////////// */

@media (min-width: 260px) {
  .main_container {
    width: 100vw;
  }
  .header {
    width: 90%;
  }
  .title {
    font-size: 7vw;
  }
  .subtitle {
    font-size: 5vw;
  }
  .link_bar {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 7vw;
    width: 70%;
    text-decoration: underline;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .article_container {
    width: 90%;
  }
  .article {
    width: 90%;
  }
  .article_title {
    font-size: 8vw;
  }
  .article_subtitle {
    font-size: 5.5vw;
    margin-bottom: 10px;
  }
  .article_body {
    font-size: 5vw;
    margin: 5px;
  }
  iframe {
    width: 98%;
    height: 60vw;
  }
  .hours_header {
    width: 90%;
    font-size: 6vw;
  }
  .sidebar_container {
    width: 98%;
    margin-top: 30px;
  }
  .lede {
    width: 92%;
    font-size: 8vw;
  }
  .meet_hours img {
    width: 92.5%;
  }
  .footer {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .footer .link {
    width: 80vw;
    font-size: 7vw;
    text-decoration: underline;
  }
  .bottomtext {
    width: 80vw;
    font-size: 5vw;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .main_container {
    width: 90vw;
  }
  .header {
    width: 98%;
  }
  .subtitle {
    font-size: 4vw;
  }
  .link_bar {
    width: 98%;
    flex-direction: row;
  }
  .link {
    font-size: 1rem;
    width: 25%;
    text-decoration: none;
  }
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .article_container {
    width: 72%;
  }
  .article_title {
    font-size: 3vw;
  }
  .article_subtitle {
    font-size: 2vw;
  }
  .article_body {
    font-size: 1.5vw;
  }
  iframe {
    width: 98%;
    height: 30vw;
  }
  .hours_header {
    width: 60%;
    font-size: 2vw;
  }
  .sidebar_container {
    width: 25%;
    margin-top: 0;
  }
  .lede {
    width: 100%;
    font-size: 2vw;
  }
  .meet_hours img {
    width: 40%;
  }
  .footer {
    width: 98%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footer .link {
    width: 20vw;
    font-size: 2vw;
    text-decoration: none;
  }
  .bottomtext {
    width: 20vw;
    font-size: 1.5vw;
  }
}

@media (min-width: 1440px) {
  .main_container {
    width: 1280px;
  }
  .header {
    width: 98%;
  }
  .title {
    font-size: 6em;
  }
  .header img {
    height: 288px;
  }
  .subtitle {
    font-size: 3.5em;
  }
  .link_bar {
    width: 98%;
    flex-direction: row;
  }
  .link {
    font-size: 1em;
    width: 25%;
    text-decoration: none;
  }
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .article_container {
    width: 72%;
  }
  .article_title {
    font-size: 2.5em;
  }
  .article_subtitle {
    font-size: 1.5em;
  }
  .article_body {
    font-size: 1em;
  }
  iframe {
    width: 98%;
    height: 30vw;
  }
  .hours_header {
    width: 60%;
    font-size: 1.5em;
  }
  .sidebar_container {
    width: 25%;
    margin-top: 0;
  }
  .lede {
    width: 100%;
    font-size: 1.5em;
  }
  .meet_hours img {
    width: 40%;
  }
  .footer {
    width: 98%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footer .link {
    width: 301px;
    font-size: 1.8em;
    text-decoration: none;
  }
  .bottomtext {
    width: 305px;
    font-size: 1.5em;
  }
}
